services:
  netbox:
    # >>> 带有Plugins部署需要的部分
    image: netbox:latest-plugins
    pull_policy: never
    build:
      context: .
      dockerfile: Dockerfile-Plugins
    # <<<
    ports:
      - 80:8080
    environment:
      # TZ，解决容器内部系统时区不正确的问题
      # TIME_ZONE，解决netbox web时区不正确的问题
      TZ: "Asia/Shanghai"
      TIME_ZONE: "Asia/Shanghai"
      # 创建超级用户
      SKIP_SUPERUSER: "false"
      SUPERUSER_NAME: "admin"
      SUPERUSER_PASSWORD: "admin"
    healthcheck:
      # 健康检查
      test: curl -f http://localhost:8080/login/ || exit 1
      start_period: 300s  # 修改了初始化时间为300s
      timeout: 3s
      interval: 15s
    volumes:
      # 配置挂载
      - ./configuration:/etc/netbox/config:z
      # 数据绑定挂载 host:container
      - /opt/netbox-data/netbox-media-files:/opt/netbox/netbox/media:rw
      - /opt/netbox-data/netbox-reports-files:/opt/netbox/netbox/reports:rw
      - /opt/netbox-data/netbox-scripts-files:/opt/netbox/netbox/scripts:rw

  netbox-worker:
    # >>> 带有Plugins部署需要的部分
    image: netbox:latest-plugins
    pull_policy: never
    # <<<
    environment:
      TZ: "Asia/Shanghai"
    volumes:
      # 配置挂载
      - ./configuration:/etc/netbox/config:z
      # 数据绑定挂载 host:container
      - /opt/netbox-data/netbox-media-files:/opt/netbox/netbox/media:rw
      - /opt/netbox-data/netbox-reports-files:/opt/netbox/netbox/reports:rw
      - /opt/netbox-data/netbox-scripts-files:/opt/netbox/netbox/scripts:rw

  postgres:
    environment:
      TZ: "Asia/Shanghai"
      # PGTZ，解决postgres时区不正确的问题
      PGTZ: "Asia/Shanghai"
    volumes:
      # 数据绑定挂载 host:container
      - /opt/netbox-data/netbox-postgres-data:/var/lib/postgresql/data

  redis:
    environment:
      TZ: "Asia/Shanghai"
    volumes:
      # 数据绑定挂载 host:container
      - /opt/netbox-data/netbox-redis-data:/data

  redis-cache:
    environment:
      TZ: "Asia/Shanghai"
    volumes:
      # 数据绑定挂载 host:container
      - /opt/netbox-data/netbox-redis-cache-data:/data